In [1]:
import pandas as pd

In [2]:
file_path = ('diabetes.csv')
df = pd.read_csv(file_path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       253680 non-null  int64
 1   HighBP                253680 non-null  int64
 2   HighChol              253680 non-null  int64
 3   CholCheck             253680 non-null  int64
 4   BMI                   253680 non-null  int64
 5   Smoker                253680 non-null  int64
 6   Stroke                253680 non-null  int64
 7   HeartDiseaseorAttack  253680 non-null  int64
 8   PhysActivity          253680 non-null  int64
 9   Fruits                253680 non-null  int64
 10  Veggies               253680 non-null  int64
 11  HvyAlcoholConsump     253680 non-null  int64
 12  AnyHealthcare         253680 non-null  int64
 13  NoDocbcCost           253680 non-null  int64
 14  GenHlth               253680 non-null  int64
 15  MentHlth              253680 non-null  int64
 16  PhysHlth              253680 non-null  int64
 17  DiffWalk              253680 non-null  int64
 18  Sex                   253680 non-null  int64
 19  Age                   253680 non-null  int64
 20  Education             253680 non-null  int64
 21  Income                253680 non-null  int64
dtypes: int64(22)
memory usage: 42.6 MB

In [4]:
catcol = ['HighBP', 'CholCheck','BMI',
       'Smoker', 'Stroke', 'PhysActivity','NoDocbcCost', 'Sex','Age', 'Education']

new_df = df[catcol]
new_df.head()

,HighBP,CholCheck,BMI,Smoker,Stroke,PhysActivity,NoDocbcCost,Sex,Age,Education
0,1,1,40,1,0,0,0,0,9,4
1,0,0,25,1,0,1,1,0,7,6
2,1,1,28,0,0,0,1,0,9,4
3,1,1,27,0,0,1,0,0,11,3
4,1,1,24,0,0,1,0,0,11,5

In [5]:
new_df['Age'] = df['Age'].apply(lambda x: x*6)

new_df['Age'].head()

C:\Users\panwe\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    54
1    42
2    54
3    66
4    66
Name: Age, dtype: int64

In [6]:
new_df.to_csv("new.csv")

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import f1_score, precision_score, recall_score,accuracy_score

In [8]:
X_test

NameError: name 'X_test' is not defined

In [ ]:
nn.evaluate(X_test_scaled,y_test,verbose=2)

In [ ]:
X_test_scaled

In [ ]:
y_test